body {
  font-family: Avenir, 'Avenir Next LT Pro', Montserrat Corbel,
  font-size: 100%;
  background-color: #fff;
  max-width: 74em;
  padding: 0 5%;
  margin: lem auto;
   }

#about-me {
  border: 1px dashed gray;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  padding-right:1em;
  }
  
nav ul {
  padding-left: 1.35em;
  }

a {
  color: black;
  }
  
a:hover {
  color: blue;
  }

 section {
  border-top: 1px solid #ccc;
  margin-top: 2em;
  }
  
 grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
  grid-gap: 1.5em;
  justify-content: space-between;
  margin-bottom: 1em;
  }
  